{% load static %}
  <!DOCTYPE html>
<html>
<title>Patient Records</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- bootstrap-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
 <script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<script type="text/javascript" src="{% static 'js/patient.js' %}"></script>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
.mySlides {display:none}
</style>
<body class="w3-content w3-border-left w3-border-right">
  <!-- Sidebar/menu -->
  <nav class="w3-sidebar w3-light-grey w3-collapse w3-top" style="z-index:3;width:260px" id="mySidebar">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="w3-container w3-display-container w3-padding-16">
      <a href="#"  style="text-decoration:none"><p><button class="w3-button w3-block w3-teal w3-left-align" type="submit"><i class="fa w3-margin-right" href="#"></i>View existing Patient</button></p></a>
      <a href="/helpers"  style="text-decoration:none"><p><button class="w3-button w3-block w3-teal w3-left-align" type="submit"><i class="fa w3-margin-right" href="{% url 'helpers' %}"></i>Helpers</button></p></a>
        <a href="/doctor_details"  style="text-decoration:none"><p><button class="w3-button w3-block w3-teal w3-left-align" type="submit"><i class="fa w3-margin-right" href="{% url 'doctor_details' %}"></i>Doctors on duty</button></p></a>
        <a href="/statistics"  style="text-decoration:none"><p><button class="w3-button w3-block w3-teal w3-left-align" type="submit"><i class="fa w3-margin-right" href="#"></i>Statistics</button></p></a>
        {% if user.is_authenticated %}
            <p><a href="/accounts/logout" style="text-decoration: none;"><button class="w3-button w3-block w3-teal w3-left-align" type="submit"><i class="fa w3-margin-right"></i>Logout</button></a></p>
        {% endif %}
      </form>
    </div>
  </nav>

  <!-- Top menu on small screens -->
  <header class="w3-bar w3-top w3-hide-large w3-teal w3-xlarge">
    <span class="w3-bar-item" style="float:center"><a href="/" style="text-decoration: none;">MountBlue Hospital</a></span>
    <a href="javascript:void(0)" class="w3-right w3-bar-item w3-button" onclick="w3_open()"><i class="fa fa-bars"></i></a>
  </header>

  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

  <!-- !PAGE CONTENT! -->
  <div class="w3-main w3-white" style="margin-left:260px">

    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top:80px"></div>

    <!-- Slideshow Header -->
    <div class="w3-bar w3-teal w3-hide-small w3-xlarge" >
        <h2 class="w3-text-white" style="text-align:center">MountBlue Hospital</h2>
      </div>


    <div class="w3-container" style="margin-top:15px" id="apartment">
      <h2 class="w3-text-teal" style="text-align:center">Patient Records</h2>
    </div>

    <div id="board" class="section grey lighten-3" style="height: 68vh; padding: 5px; overflow-y: scroll">
      {% for patient in patients %}
      <a href="{{ patient.id }}">
      <div class="card-container">
  
              <div id="{{ patient.id }}" class="card">
               <div class="container">
                <b> {{patient.first_name}} {{patient.last_name}} </b>
              </div>
            </div>
         </div>
         </a>
     {% endfor %}
  </div>
  
      



<script>
// Script to open and close sidebar when on tablets and phones
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}

// Slideshow Apartment Images
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
     dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-opacity-off";
}
</script>


<!-- for auto completion -->
<script>
  jQuery(function() {
  $("#id_input").on('keyup', function(){
      var value = $(this).val();
      value = value.toLowerCase();
      $.ajax({
          url: "/patient_records/ajax/1",
          data: {
            'search': value
          },
          dataType: 'json',
          success: function (data) {
              list = data.list;
              $("#id_input").autocomplete({
              source: list,
              minLength: 1
              });
          }
      });
  });
});
  </script>


<script>
  $("#id_input").change(function () {
    // var url = $("#reception").attr("data-cities-url");  // get the url of the `load_cities` view
    var problem = $(this).val();  // get the selected problem ID from the HTML input

    $.ajax({                       // initialize an AJAX request
      url: "/patient_records",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
      data: {
        'search': problem       // add the problem id to the GET parameters
      },
      dataType: 'json',
      // success: function (data) {
      //         list = data.list;
      //         $("#input").autocomplete({
      //         source: list,
      //         minLength: 1
      //         });
      //     }
    });

  });


</script>

</body>
</html>
